.forum{
    flex:1;
    /* width:95%; */
    margin: 0px auto;
    /* background-color: black; */
}

.maps{
    flex:1;
    display: flex;
    width:95%;
    /* height:100; */
    margin:0 auto;
    /* float:left; */
    /* background-color: darkorange; */

}

.forum-title{
    font-family: 'Merriweather', serif;
    display:block;
    font-size: 18px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.maps > div {
    width: 100%;
  }

.mapTitle{
    display: flex;
    padding:10px;
    justify-content: center;
    font-family: 'Russo One', sans-serif; 
}

.forumT{
    display:block;
    /* background-color: red; */
    width:90%;
    font-family: 'Russo One', sans-serif; 
    margin:0 auto;
    font-size:30px;
}

.stories-container{
    display: flex;
    width:100%;

    height:100%
}
.stories1{
    max-width:40%;
    /* max-height:10; */
    float:left;
    /* background-color: rgb(228, 163, 163); */
    display: flex;
    padding-left: 3%;
    flex-direction: column;
    /* background-color: aquamarine; */
}


.stories2{
    max-width:40%;
    /* background-color:chartreuse; */
}

.submit-container{
    width: 20%;
    position: absolute;
    right: 20px;
    float:right;
    /* background-color: blueviolet; */
}
.submit{
    width:95%;
    margin-bottom: 20;
    margin-top: 10;
    padding-top: 10;
}

.stats{
    font-size: 2rem;
    background-color: darkorange;
    /* color:white; */
    text-align: center;
    width:95%;
    /* margin-top:10px; */
    /* margin-right:20px; */
    font-family: 'Russo One', sans-serif; 
}

.map-bottom{
    width:90%;
    /* background-color: gray; */
    margin:0 auto;
    
}