.button{
    background-color: rgba(255, 235, 213, 0);
    /* border-color: white; */
    /* min-height:100; */
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 16px;
    text-align: center;
    font-family: "Permanent Marker", fantasy;
    transition: 0.4s;
}

.button:hover {
    background-color: black; /* Green */
    color: white;
  }