.gallery {
    font-family: 'Merriweather', serif;
    margin: 20px;
}

label input{
    height: 0;
    width: 0;
    opacity: 0;
}
label{
    display: inline-block;
    width: fit-content;
    padding: 0 15px;
    border-radius: 5px;
    margin: 10px auto;
    line-height: 30px;
    background-color: black;
    color: orange;
    font-weight: bold;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.upload {
    display: block;
    /* margin: 10px auto; */
    font-weight: bold;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: black;
    color: orange;
    border-radius: 5px;
}

.image-wrap {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.image-grid {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
}