.gallery {
    /* font-family: 'Merriweather', serif; */
    margin: 20px;
}

label input{
    height: 0;
    width: 0;
    opacity: 0;
}
.labelGallery{
    display: block;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    margin: 10px auto;
    line-height: 100%;
    background-color: black;
    color: orange;
    font-weight: bold;
    font-size: 30px;

    text-align: center;
    justify-content: center;
}

.file-chosen {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

.upload {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px auto;
    font-weight: bold;
    font-size: 15px;
    /* font-family: 'Merriweather', serif; */
    /* letter-spacing: 1px; */
    text-align: center;
    background-color: black;
    color: orange;
    border-radius: 50%;
}

.progress-bar {
    display: block;
    margin: 10px auto;
    width: 50vw;
}

.image-wrap {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: calc(4vw - 14px);
}

.image-grid {
    width: 22vw;
    height: 22vw;
    object-fit: cover;
    border-radius: 10px;
}