.display-window {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -998;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.6);
}

.image-list {
    width: 500vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    animation: 20s picture-scroll infinite;
}

.image-list>img {
    display: inline;
    width: 100vw;
    height: 100vh;
    object-fit:cover;
}

.about {    
    letter-spacing: 1px;
    margin: 50px;
}

.about>h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
}

.about>p {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
}

@keyframes picture-scroll {
    0% {}
    2% {transform: translateX(0)}
    20% {transform: translateX(0)}
    22% {transform: translateX(-100vw)}
    40% {transform: translateX(-100vw)}
    42% {transform: translateX(-200vw)}
    60% {transform: translateX(-200vw)}
    62% {transform: translateX(-300vw)}
    80% {transform: translateX(-300vw)}
    82% {transform: translateX(-400vw)}
    100% {transform: translateX(-400vw)}
}