.display-window {
    width: 50vw;
    height: 30vw;
    margin: auto;
    overflow-x: hidden;
}

.test-img1{
    /* width:100vm; */
    width:100vw;
    display:flex;
    justify-content: center;
    z-index: -999;
    position: fixed;
    top: 0;

}


.test-image{
    width:100vw;
    /* margin:auto; */
    z-index: -999;
    position: fixed;
    top: 0;
}

.image-list {
    width: 250vw;
    height: 30vw;
    animation: 20s picture-scroll infinite;
}

.image-list>img {
    display: inline;
    width: 50vw;
    height: 30vw;
    object-fit:cover;
}

.about {    
    letter-spacing: 1px;
    margin: 20px;
}

.about>h1{
    font-family: 'Permanent Marker', cursive;
}

.about>p {
    font-family: 'Merriweather', serif;
}

@keyframes picture-scroll {
    0% {};
    2% {transform: translateX(0)}
    20% {transform: translateX(0)}
    22% {transform: translateX(-50vw)}
    40% {transform: translateX(-50vw)}
    42% {transform: translateX(-100vw)}
    60% {transform: translateX(-100vw)}
    62% {transform: translateX(-150vw)}
    80% {transform: translateX(-150vw)}
    82% {transform: translateX(-200vw)}
    100% {transform: translateX(-200vw)}
}