.link-container {
    display: flex;
    height: 5vh;
    margin: 20px;
    background-color: black;
}
.link {
    width:fit-content;
    margin: auto;
    color: white;
    text-decoration: none;
    font-family: 'Russo One', sans-serif; 
    letter-spacing: 1px;
    font-size: 1.2rem;
}