.link-container {
    display: flex;
    height: 5vh;
    margin: 20px;
    background-color: black;
}
.link {
    width:fit-content;
    margin: auto;
    color: white;
    text-decoration: none;
    font-family: 'Russo One', sans-serif; 
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.dd:hover .dropdown-content {
    display: block;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: -20px;  
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: 'Russo One', sans-serif; 
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  html{scroll-behavior:smooth}