.news {
    margin: 20px;
}

.map2Title{
    display: flex;
    padding:10px;
    justify-content: center;
    font-family: 'Russo One', sans-serif; 
}

.map4{
    margin-top: 70px;
    /* background-color: gray; */
}