.resources {
  margin: 20px;
}

h2{
  font-family: "Permanent Marker", fantasy;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}

.Collapsible__trigger{
  font-family: "Merriweather", monospace;
  font-weight: 800;
  font-size: 35px;
}

.Collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.Collapsible__contentInner{
  font-family: "Merriweather", sans-serif;
  font-size: large;
}

.eventable{
  text-align: center;
  width: 80%;
  padding-top: 20px;
  font-family: "Merriweather";
}

td{
  padding: 20px;
}

th{
  font-weight: bold;
}

.map{
  width: 80%;
  height: 700px;
}

.supports{
  padding-left: 40px;
  font-family: "Merriweather";
}
