.title{
    font-size: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color:orange;
    font-weight: 400;
    
    display: block;
    font-family: 'Carter One', cursive;
    height: 100px!important;
}

.App{
    display:flex; /*弹性布局*/
    min-height:100vh; /*100% visible height*/
    flex-direction:column;
}

.content{
    flex:1;
}
.footer{
    /* font-size: 70px; */
    justify-content: center;
    align-items: center;
    
    text-align: center;
    background-color: black;
    color:white;
    height: 50px;
    /* position:sticky; */
    display: block;
    bottom:0;
}

